body {
  color: #444f5a;
  font-family: "Oxygen", sans-serif;
  font-size: 18px;
  background-color: rgba(252, 227, 138, 0.7);
}
h1,
a {
  color: #2994b2;
}
h1 {
  font-weight: 700;
  text-transform: capitalize;
}
ul {
  list-style: none;
}
p {
  font-size: 14px;
  margin: auto;
  max-width: 80%;
  line-height: 32px;
}
.weather-info {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 3px rgba(68, 79, 90, 0.4);
  margin: auto;
  margin-top: 25px;
  max-width: 80%;
  padding: 15px;
}
.active {
  color: #444f5a;
  text-decoration: none;
}
.current-temp {
  font-size: 32px;
  position: relative;
  top: 10px;
  left: 25px;
}
.current-details {
  float: right;
}
.five-day-forecast {
  text-align: center;
  line-height: 32px;
}
.low {
  opacity: 80%;
}
#current-description {
  text-transform: capitalize;
}
#input-location {
  max-width: 250px;
  margin-bottom: 5px;
}
#current-location-btn {
  background-color: #2994b2;
  border-color: #2994b2;
  max-width: 160px;
}
#celsius-scale,
#farenheit-scale {
  text-decoration: none;
}
#celsius-scale:hover,
#farenheit-scale:hover {
  cursor: pointer;
}
